// Tablets & Smaller
@media (max-width: 800px) {
    #header-home {
        height: 30rem;

        .header-content {
            padding: 4rem;
        }
    }
}

// Smartphone
@media (max-width: 500px) {
    #main-nav {
        flex-direction: column;
        align-items: center;

        li {
            padding: 1rem;
        }
    }

    #header {
        &-home {
            height: 10rem;
            border-bottom: 3px solid $main-color;
            background-position: 20% 30%;

            .header-content {
                display: none;
            }
        }

        &-inner {
            height: 10rem;

        }
    }

    // Stack Grid Columns
    #home-a .specials,
    #home-b .stats,
    #home-c .process,
    #about-d .testimonials,
    .items {
        grid-template-columns: 1fr;
    }

    #home {
        &-a {
            .specials div {
                border-bottom: 1px $light-color solid;
                padding-bottom: 1rem;

                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0;
                }
            }
        }

        &-b {
            .stats div {
                padding: 2rem 0 1rem 0;
            }

        }
    }

    // About
    #about {
        &-a {
            .about-info {
                grid-template-areas:
                    'bio-image'
                    'bio'
                    'award-1'
                    'award-2'
                    'award-3';
            }
        }

        &-c {
            display: none;
        }
    }

    // Contact
    #contact {
        &-a {
            .text-field {
                grid-template-areas:
                    'name'
                    'subject'
                    'email'
                    'phone'
                    'message';
            }
        }

        &-b {
            .contact-info {
                flex-direction: column;

                div {
                    margin-bottom: 1rem;
                    padding-bottom: 1rem;
                    border-bottom: 1px #555 dotted;

                    &:last-child {
                        margin-bottom: 0;
                        padding-bottom: 0;
                        border-bottom: none;
                    }
                }
            }
        }

        &-c {
            h1 {
                font-size: 2rem;
            }
        }
    }

    // Footer
    #main-footer {
        height: 7rem;

        .footer-content {
            flex-direction: column;
            padding: 1rem;
            height: 5rem;
        }
    }
}

// Landscape
@media(max-height: 580px) {
    #header-home {
        .header-content {
            padding-top: 3rem;
        }
    }
}