@import 'config';
@import 'utilities';

// General Styling
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Dosis", sans-serif;
    line-height: 1.6;
    background: #fff;
}

a {
    text-decoration: none;
    color: $dark-color;
}

ul {
    list-style: none;
}

h2,
h3,
h4 {
    text-transform: uppercase;
}

img {
    width: 100%;
}

// Logo
#logo {
    width: 70px;
    height: 70px;
    color: #fff;
    text-transform: uppercase;
}

// Main Nav
#main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    ul {
        display: flex;
    }

    li {
        padding: 1rem 1.5rem;
    }

    a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s;

        &:hover {
            border-color: $medium-color;
        }

        &.current {
            border-color: $main-color;
        }
    }
}

// Header
#header {

    // Header Home
    &-home {
        background: $bg-img no-repeat center right/cover;
        height: 100vh;
        color: #fff;

        // Header Content
        .header-content {
            text-align: center;
            padding-top: 20%;

            h1 {
                font-size: 4rem;
                line-height: 1.2;
            }
        }
    }

    // Header Inner
    &-inner {
        background: $bg-img no-repeat 20% 30%/cover;
        height: 5.5rem;
        border-bottom: 3px solid $main-color;
    }
}

// Home Section
#home {

    // Home Section A
    &-a {
        .specials {
            margin-top: 3rem;
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(4, 1fr);

            .fas {
                color: $main-color;
                padding-bottom: 0.4rem;
            }
        }
    }

    // Home Section B
    &-b {
        .stats {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            li {
                line-height: 2;

                &.stats-title {
                    font-size: 1.5rem;
                }

                &.stats-number {
                    font-size: 2rem;
                    font-weight: bold;
                }
            }

            div {
                padding: 3rem 0;

                &:nth-child(odd) {
                    background: $light-color;
                }

                &:nth-child(even) {
                    background: $medium-color;
                }
            }
        }
    }

    // Home Section C
    &-c {
        .process {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1.5rem;
            text-align: center;

            &-icon {
                position: relative;
                border-radius: 50%;
                background: $dark-color;
                color: set-text-color($dark-color);
                padding: 2rem;
                height: 70px;
                width: 70px;
                line-height: 70px;
                text-align: center;
                transition: all 1s;

                &:hover {
                    background: $main-color;
                    height: 90px;
                    width: 90px;
                    line-height: 90px;

                    .process-step {
                        background: $dark-color;
                        color: set-text-color($dark-color);
                    }
                }
            }

            &-step {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 28px;
                background: $main-color;
                color: set-text-color($main-color);
                border-radius: 50%;
                height: 15px;
                width: 15px;
                line-height: 15px;
                padding: 1rem;
                transition: all 1s;
            }
        }
    }
}

// About Section
#about {
    &-a {
        .about-info {
            display: grid;
            grid-template-areas:
                'bio-image bio bio'
                'award-1 award-2 award-3';
            grid-gap: 1.2rem;

            // Grid Area
            .bio-image {
                grid-area: bio-image;
            }

            .bio {
                grid-area: bio;
                border-left: 3px solid $main-color;
                padding: 0.8rem;
            }

            .award-1 {
                grid-area: award-1;
            }

            .award-2 {
                grid-area: award-2;
            }

            .award-3 {
                grid-area: award-3;
            }

            .award-1 .fas,
            .award-2 .fas,
            .award-3 .fas {
                color: $main-color;
                margin: 1rem;
            }
        }
    }
}

// Footer
#main-footer {
    background: $dark-color;
    color: #fff;
    height: 5rem;

    .footer-content {
        display: flex;
        justify-content: space-between;
        height: 5rem;
        align-items: center;

        .social .fab {
            margin-right: 1rem;
            padding: .5rem;
            color: #fff;
            border: 2px solid #fff;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            line-height: 20px;
            text-align: center;

            &:hover {
                background: $main-color;
            }
        }
    }
}